<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1 class="font-weight-bold">Users manage</h1>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <a href="create/user" type="button" class="btn btn-success">
        Add User <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>

  <table class="table table-striped  shadow-sm bg-body-tertiary rounded mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">avatar</th>
        <th scope="col">first_name</th>
        <th scope="col">last_name</th>
        <th scope="col">email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <th scope="row">{{ item.id }}</th>
        <td> <img src="{{ item.avatar }}" alt="" srcset="" width="59"> </td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.email }}</td>
        <td>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- Replace the existing flag icon with the image for English -->
                action
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                  <a href="edit/{{ item.id }}/user">
                    <i class="fas fa-pencil-alt ml-2"></i>  update
                  </a>

                </li>
                <li>
                  <a href="" (click)="deleteuser($event,item.id)">
                    <i class="fas fa-trash  ml-2"></i> delete
                  </a>

                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      [maxSize]="5"
      (pageChange)="onPageChange($event)"
    ></ngb-pagination>
  </div>
</div>

